* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #434343;
  height: 92vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(214, 214, 214);
  transition: 0.2s ease;
}

/* -----------Nav----------- */
nav {
  position: fixed;
  width: 100%;
  background: #1479EC;
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  top:0;
  
}

.logo h4{
  margin-top: 15px;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: 20px 0px 0px 500px;
}

.nav-links a {
  color: white;
}

/* Contact Page */
.contact {
  margin: 10% auto;
  text-align: center;
  color: white;
  background: #575757;
  width: 55%;
  height: 70vh;
  border-radius: 74px;
  padding: 13px;
}

.contact form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 40px 0px;
}
.contact input {
  margin: 10px auto;
  outline: none;
  border: 3px solid #0F80F1;
  background: none;
  color: white;
  border-radius: 48px;
  height: 50px;
  width: 90%;
  padding: 10px;
  font-family: 'Montserrat',sans-serif;
  font-size: 15px;
}

.contact textarea {
  margin: 15px auto;
  outline: none;
  border: 3px solid #0F80F1;
  background: none;
  color: white;
  border-radius: 20px;
  height: 120px;
  width: 90%;
  padding: 10px;
  font-family: 'Montserrat',sans-serif;
}

.contact button {
  margin: 0px auto;
  outline: none;
  border: none;
  color: white;
  background: #0F80F1;
  width: 110px;
  padding: 10px 20px;
  border-radius: 24px;
  font-family: 'Montserrat',sans-serif;
  cursor: pointer;
}

.contact button:hover {
  background: rgb(6, 86, 165);
  transition: 0.3s ease;
}

/* Circles  */
.circle1 {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: #0F9BF1;
  opacity: 0.08;
  top: 135px;
  left: 45px;
}

.circle2 {
  position: absolute;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background: #0F9BF1;
  opacity: 0.08;
  top: 350px;
  left: 70px;
}

.circle3 {
  position: absolute;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background: #0F9BF1;
  opacity: 0.08;
  top: 320px;
  right: 25px;
}

.circle4 {
  position: absolute;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background: #0F9BF1;
  opacity: 0.08;
  top: 420px;
  right: 70px;
}
